<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<h2 style="text-align: center">修改密码</h2>
<form th:action="@{/user/updatePassword}" method="post" style="text-align: center">

    <p style="color: red" th:text="${oldpwdwrong}" th:if="${not #strings.isEmpty(oldpwdwrong)}"></p>
        您的用户名：<input type="text" name="username"> <br>
        您的旧密码：<input type="password" name="oldpassword"> <br>
        您的新密码：<input type="password" name="newpassword"> <br>
       <input type="submit" value="确认新密码">
</form>
<a th:href="@{/user/toLogin}">返回</a>
</body>
</html>